@import url("https://fonts.googleapis.com/css2?family=Jua&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jua&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --base: oklch(55% 0.2 266);
  --base-transparent: oklch(55% 0.2 266 / 0.7);
  --surface: oklch(97% 0.025 90);
  --title-font: "Jua", serif;
  --normal-font: "Roboto", sans-serif;
}

html,
body {
  height: 100vh;
  overflow: hidden;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  background-color: var(--surface);
  color: var(--base);
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  pointer-events: none;
}

#video_1 {
  aspect-ratio: 560/315;
}

header {
  position: relative;
  width: 100%;
  top: 0;
  height: max(10vh, 5rem);
  border-bottom: 2px solid var(--base);
}

main {
  position: relative;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: var(--base);
  color: var(--surface);
}

.section {
  max-width: 1200px;
  height: 100%;
  margin-inline: auto;
  padding-inline: 40px;
}

.container_nav {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: min-content;
  justify-content: space-between;
  align-items: baseline;
  align-content: end;
  gap: 60px;
  height: 100%;
  margin-top: auto;
  padding-bottom: 12px;
}
.container_nav--logo {
  font-size: 72px;
  font-family: var(--title-font);
  font-weight: 700;
  line-height: 80%;
}
.container_nav--links {
  display: flex;
  gap: 12px 40px;
  font-size: 28px;
  font-family: var(--normal-font);
  font-weight: 500;
  line-height: 100%;
  text-transform: uppercase;
}
.container_main {
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}
.container_main:hover .thumbnail {
  filter: blur(2px);
}
.container_main:hover .overlay-1 {
  opacity: 1;
}
.container_main--thumbnail {
  width: 100%;
  height: 100%;
}
.container_main--overlay {
  position: absolute;
  inset: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 24px;
  align-items: baseline;
  align-content: end;
  color: var(--surface);
}
.container_main--overlay--title {
  font-size: 42px;
  font-family: var(--title-font);
  line-height: 100%;
}
.container_main--overlay--date {
  font-family: var(--title-font);
  line-height: 100%;
  font-size: 24px;
  text-align: right;
}
.container_others {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}
.container_others--content {
  width: 100%;
  position: relative;
}
.container_others--content:hover .thumbnail {
  filter: blur(2px);
}
.container_others--content:hover .overlay-2 {
  opacity: 1;
}
.container_others--content--video {
  width: 100%;
  height: 100%;
  margin-inline: 0;
}
.container_others--content--thumbnail {
  width: 100%;
  display: block;
}
.container_others--content--overlay {
  position: absolute;
  display: grid;
  grid-template-rows: min-content min-content;
  align-content: center;
  text-align: center;
  inset: 0;
  color: var(--surface);
  background-color: var(--base);
  font-family: var(--title-font);
}
.container_others--content--overlay--title {
  font-size: 28px;
}
.container_others--content--overlay--date {
  font-size: 20px;
}
.container_profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 8vh;
  gap: 60px;
}
.container_profile--info {
  grid-area: 1/1/2/-1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto auto auto;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
.container_profile--info--img {
  position: relative;
  grid-row: 1/-1;
}
.container_profile--info--img img {
  display: block;
  aspect-ratio: 1;
  border-radius: 10px;
}
.container_profile--info--img::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--surface);
  mix-blend-mode: color;
}
.container_profile--info--intro--keyword {
  font-size: 28px;
  line-height: 100%;
}
.container_profile--info--intro--name {
  justify-self: end;
  font-size: 72px;
  font-weight: 700;
  line-height: 100%;
  margin-top: 10px;
}
.container_profile--info--job {
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
}
.container_profile--info--education {
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
  margin-top: 8px;
}
.container_profile--info--caption {
  font-size: 18px;
  line-height: 120%;
  margin-top: 20px;
  font-weight: 400;
  word-break: keep-all;
  text-indent: 8px;
}
.container_profile--title {
  font-size: 40px;
  font-weight: 700;
  font-family: var(--title-font);
  margin-top: 24px;
}
.container_profile--skills--items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
}
.container_profile--skills--items--item {
  display: grid;
  justify-items: center;
}
.container_profile--skills--items--item img {
  width: 50px;
}
.container_profile--skills--items--item--text {
  font-family: var(--normal-font);
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin-top: 8px;
}
.container_all-projects {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5vh;
}
.container_all-projects--project {
  position: relative;
  align-items: stretch;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 1;
  height: 25vh;
  overflow: hidden;
}
.container_all-projects--project:hover .thumbnail {
  filter: blur(2px);
}
.container_all-projects--project:hover .overlay-1 {
  opacity: 1;
}
.container_all-projects--project--thumbnail {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.container_all-projects--project--overlay {
  position: absolute;
  inset: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 24px;
  align-items: baseline;
  align-content: end;
  color: var(--surface);
}
.container_all-projects--project--overlay--title {
  font-size: 24px;
  font-weight: 500px;
  font-family: var(--title-font);
  line-height: 80%;
}
.container_all-projects--project--overlay--date {
  font-size: 18px;
  font-weight: 300px;
  font-family: var(--title-font);
  line-height: 80%;
  text-align: right;
}
.container_each-project {
  margin-top: 36px;
}
.container_each-project--info {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  font-family: var(--title-font);
}
.container_each-project--info--title {
  font-size: 36px;
  font-weight: 700;
  line-height: 100%;
  font-family: var(--title-font);
}
.container_each-project--info--tag {
  display: block;
  padding: 12px 14px;
  background-color: var(--base);
  color: var(--surface);
  border-radius: 6px;
  font-size: 18px;
  font-family: var(--title);
  white-space: nowrap;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 100%;
}
.container_each-project--info--desc {
  display: grid;
  gap: 8px;
  grid-column: 1/3;
  margin-block: 12px 28px;
}
.container_each-project--info--desc--program {
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
  font-family: var(--normal-font);
}
.container_each-project--info--desc--date {
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
  font-family: var(--normal-font);
}
.container_each-project--info--desc--text {
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  font-family: var(--normal-font);
  text-align: justify;
  word-break: keep-all;
  text-indent: 8px;
  margin-top: 8px;
}
.container_each-project--cuts {
  display: grid;
  gap: 4px;
}
.container_each-project--cuts #video_1 {
  aspect-ratio: 560/315;
}
.container_each-project--cuts--cut {
  display: block;
  width: 100%;
}
.container_bio {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  padding-block: 4px;
}
.container_bio--info--name {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 12px;
  line-height: 100%;
  padding: 2px;
}
.container_bio--info--email {
  font-size: 16px;
  line-height: 100%;
  padding: 2px 12px 4px 12px;
  margin-left: -12px;
}
.container_bio--info--email:hover {
  background-color: var(--surface);
  color: var(--base);
  border-radius: 9999px;
}
.container_bio--links {
  display: flex;
  align-items: center;
  gap: 20px;
}
.container_bio--links--link {
  width: 36px;
  height: 40px;
}
.container_bio--links--link img {
  width: 100%;
}

.thumbnail {
  transition: filter 0.2s;
}

.overlay-1 {
  background: linear-gradient(to bottom, transparent 70%, var(--base) 100%);
  opacity: 0;
  transition: opacity 0.2s;
}

.overlay-2 {
  background-color: var(--base-transparent);
  opacity: 0;
  transition: opacity 0.2s;
}