@import url('https://fonts.googleapis.com/css2?family=Jua&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  // 연두 핑크로 할것
  --base: oklch(55% 0.2 266);
  --base-transparent: oklch(55% 0.2 266 / 0.7);
  --surface: oklch(97% 0.025 90);
  --title-font: 'Jua', serif;
  --normal-font: 'Roboto', sans-serif;
}

html,
body {
  height: 100vh;
  overflow: hidden;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  background-color: var(--surface);
  color: var(--base);
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  pointer-events: none;
}

#video_1 {
  aspect-ratio: 560/315;
}

header {
  position: relative;
  width: 100%;
  top: 0;
  height: max(10vh, 5rem);
  border-bottom: 2px solid var(--base);
}
main {
  position: relative;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: var(--base);
  color: var(--surface);
}

.section {
  max-width: 1200px;
  height: 100%;
  margin-inline: auto;
  padding-inline: 40px;
}

.nav {
}

.container {
  &_nav {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: min-content;
    justify-content: space-between;
    align-items: baseline;
    align-content: end;
    gap: 60px;
    height: 100%;
    margin-top: auto;
    padding-bottom: 12px;

    &--logo {
      font-size: 72px;
      font-family: var(--title-font);
      font-weight: 700;
      line-height: 80%;
    }
    &--links {
      display: flex;
      gap: 12px 40px;
      font-size: 28px;
      font-family: var(--normal-font);
      font-weight: 500;
      line-height: 100%;
      text-transform: uppercase;
    }
  }
  &_main {
    width: 100%;
    position: relative;
    margin-bottom: 10px;

    &:hover {
      .thumbnail {
        filter: blur(2px);
      }

      .overlay-1 {
        opacity: 1;
      }
    }

    &--thumbnail {
      width: 100%;
      height: 100%;
    }

    &--overlay {
      position: absolute;

      // width: 100%;
      // height: 100%;
      // top: 0;
      inset: 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 24px;
      align-items: baseline;
      align-content: end;
      color: var(--surface);

      &--title {
        font-size: 42px;
        font-family: var(--title-font);
        line-height: 100%;
      }

      &--date {
        font-family: var(--title-font);
        line-height: 100%;
        font-size: 24px;
        text-align: right;
      }
    }
  }

  &_others {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    &--content {
      width: 100%;
      position: relative;

      &:hover {
        .thumbnail {
          filter: blur(2px);
        }

        .overlay-2 {
          opacity: 1;
        }
      }

      &--video {
        width: 100%;
        height: 100%;
        margin-inline: 0;
      }
      &--thumbnail {
        width: 100%;
        display: block;
      }

      &--overlay {
        position: absolute;
        display: grid;
        grid-template-rows: min-content min-content;
        align-content: center;
        text-align: center;
        inset: 0;
        color: var(--surface);
        background-color: var(--base);
        font-family: var(--title-font);

        &--title {
          font-size: 28px;
        }
        &--date {
          font-size: 20px;
        }
      }
    }
  }

  &_bio {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    padding-block: 4px;

    &--info {
      &--name {
        font-size: 20px;

        font-weight: 500;
        letter-spacing: 12px;
        line-height: 100%;
        padding: 2px;
      }
      &--email {
        font-size: 16px;
        line-height: 100%;
        padding: 2px 12px 4px 12px;
        margin-left: -12px;

        &:hover {
          background-color: var(--surface);
          color: var(--base);
          border-radius: 9999px;
        }
      }
    }
    &--links {
      display: flex;
      align-items: center;
      gap: 20px;

      a {
      }

      &--link {
        width: 36px;
        height: 40px;

        img {
          width: 100%;
        }
      }
    }
  }
}

.overlay-1 {
  background: linear-gradient(to bottom, transparent 70%, var(--base) 100%);
  opacity: 0;
  transition: opacity 0.2s;
}

.overlay-2 {
  background-color: var(--base-transparent);
  opacity: 0;
  transition: opacity 0.2s;
}
